body {
  font-family: Comic Sans MS;
  background-color: lightskyblue;
}
p {
  font-size: 4em;
}
.p2 {
  position: absolute;
  left: 40%;
  top: 35%;
  font-size: 50px;
}
.eye {
  background-color: white;
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.arm {
  background-color: #f9e4b2;
  position: absolute;
  top: 35%;
  width: 5%;
  height: 40%;
}

#head {
  width: 30%;
  height: 30%;
  border-radius: 15%;
  background-color: #f9e4b2;
  position: absolute;
  left: 31%;
  top: 5%;
}
#righteye {
  position: absolute;
  left: 20%;
  top: 20%;
}

#lefteye {
  position: absolute;
  left: 60%;
  top: 20%;
}
.pupil {
  background-color: black;
  margin: 40%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
#rightpupil {
  position: relative;
}
#leftpupil {
  position: relative;
}

#mouth {
  position: absolute;
  left: 40%;
  top: 65%;
  border-radius: 50%;
  background-color: red;
}
#body {
  position: absolute;
  left: 25%;
  top: 35%;
  width: 40%;
  height: 55%;
  background-color: #f9e;
  text-align: center;
  padding-top: 30px;
}

#rightarm {
  position: absolute;
  left: 20%;
}
#leftarm {
  position: absolute;
  left: 65%;
  width: 30%;
  height: 5%;
}
#bangs {
  position: absolute;
  left: 31%;
  top: 5%;
  background-color: yellow;
  width: 30%;
  height: 50px;
}
#haironright {
  position: absolute;
  left: 27%;
  top: 8%;
  width: 40px;
  height: 300px;
  background-color: yellow;
}
#haironleft {
  position: absolute;
  left: 60%;
  top: 8%;
  background-color: yellow;
  width: 6%;
  height: 47%;
}
/* Click the eyes, pupils, and left arm for animation! */
